@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.home-content{
    display: inline-block;
    color: white;
}

.animated-content{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: cursive;
    border-right: 3px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s infinite alternate;
}

@keyframes cursor{
    50% {border-color: transparent}
}

@keyframes typing{
    from {width: 0}
}


/* mouse down */

@keyframes mouse-down{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
}

.animate-mouse{
    animation: mouse-down 0.9s ease 0s infinite normal none running;
}